body {
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $main-bc;
	font-family: Futura PT;
	font-weight: 500;
}

textarea:focus,
input:focus {
	outline: none;
}
